---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: '记多宝',template:'splash' }}>
  <p class="dark:text-blue-200">记多宝首页</p>
</StarlightPage>