---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{ title: '《易经》',template:'splash' }}>
  <p class="dark:text-blue-200">存储模块手册</p>
</StarlightPage>